### Some Important Series Methods

In [1]:
# astype
# between
# clip
# drop_duplicates
# isnull
# dropna
# fillna
# isin
# apply
# copy

In [2]:
import numpy as np
import pandas as pd

In [3]:
list = [1,3,4,5,6,6]
my_series = pd.Series(list)
print(type(my_series))

<class 'pandas.core.series.Series'>

In [4]:
#astype
my_series.astype('int16')
#here we  changes the type of a series from 'int 64' to 'int16'

0    1
1    3
2    4
3    5
4    6
5    6
dtype: int16

In [5]:
vk = pd.read_csv(r'C:\Users\Ganesh Raju Salunke\Documents\github\files\kohli_ipl.csv',index_col="match_no").squeeze("columns")

In [6]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [7]:
print (type(vk))

<class 'pandas.core.series.Series'>

In [8]:
subs = pd.read_csv(r'C:\Users\Ganesh Raju Salunke\Documents\github\files\subs.csv').squeeze("columns")

In [9]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [10]:
print(type(subs))

<class 'pandas.core.series.Series'>

In [11]:
movies = pd.read_csv(r'C:\Users\Ganesh Raju Salunke\Documents\github\files\bollywood.csv',index_col='movie').squeeze("columns")

In [12]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [ ]:
vk.astype("int16")
#here we changes the int type

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int16

In [ ]:
#between
vk.between(2,10).size

215

In [ ]:
import sys
sys.getsizeof(vk)

11768

In [25]:
vk.count()

np.int64(215)

In [27]:

subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [32]:
#clip
subs.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [41]:
#drop_duplicate
temp = pd.Series([1,1,2,2,3,3,4,4,5,5])
temp

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
8    5
9    5
dtype: int64

In [42]:
temp.drop_duplicates()
#it deletes all the duplicate items

0    1
2    2
4    3
6    4
8    5
dtype: int64

In [44]:
temp.drop_duplicates(keep='last')
#it will delete every second item

1    1
3    2
5    3
7    4
9    5
dtype: int64

In [47]:
vk.duplicated().sum()

np.int64(137)

In [49]:
temp.duplicated().sum()

np.int64(5)

In [51]:
movies.drop_duplicates()
#deleted all the duplicates

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

In [53]:
temp.size

10

In [55]:
temp.count()

np.int64(10)

In [63]:
#isnull
#it show how many missing values are there in the data
temp.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [64]:
temper = pd.Series([1,1,np.nan,2,3,3,np.nan,4,5,5])

In [65]:
temper.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool

In [ ]:
temper.size
#.size count all null values also

10

In [ ]:
temper.count()
# count does not count null values

np.int64(8)

In [ ]:
#dropna
#dropes all the null values
temper.dropna()

0    1.0
1    1.0
3    2.0
4    3.0
5    3.0
7    4.0
8    5.0
9    5.0
dtype: float64

In [ ]:
#fillna
temper.fillna(84)
#it can be changed all over and exchange all null values

0     1.0
1     1.0
2    84.0
3     2.0
4     3.0
5     3.0
6    84.0
7     4.0
8     5.0
9     5.0
dtype: float64

In [88]:
temp.fillna(temper.mean)

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
8    5
9    5
dtype: int64

In [91]:
#isin
# use to check multiple series in the data
vk[vk.isin([49,99])]

match_no
82    99
86    49
Name: runs, dtype: int64

In [92]:
#apply
#it helps applying custom logics in the series
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [93]:
movies.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [94]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [96]:
subs.mean()

np.float64(135.64383561643837)

In [98]:
subs.apply(lambda x:'good day' if x>subs.mean() else  'bad day'  )

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object

In [100]:
#copy 
#is use for copy a series data as not used data can get permently edited
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [128]:
new = vk.head().copy()

In [129]:
new

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [131]:
new[1] = 10
print(new)

match_no
1    10
2    23
3    13
4    12
5     1
Name: runs, dtype: int64