### What is Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

https://pandas.pydata.org/about/index.html

### Pandas Series

A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

In [2]:
import numpy as np
import pandas as pd

In [3]:
a = ['ganesh','gaja','abhi']
pd.Series(a)

0    ganesh
1      gaja
2      abhi
dtype: object

In [4]:
b =[1,4,5,2,6,7,8]

pd.Series(b)

0    1
1    4
2    5
3    2
4    6
5    7
6    8
dtype: int64

In [5]:
# custom index
marks = [67,57,89,100]
subjects = ['maths','english','science','hindi']

pd.Series(marks,index=subjects)

maths       67
english     57
science     89
hindi      100
dtype: int64

In [6]:
# setting a name
marks = pd.Series(marks,index=subjects,name='Nitish ke marks')
marks

maths       67
english     57
science     89
hindi      100
Name: Nitish ke marks, dtype: int64

In [7]:
marks = {
    'maths':67,
    'english':57,
    'science':89,
    'hindi':100
}

marks_series = pd.Series(marks,name='nitish ke marks')
marks_series

maths       67
english     57
science     89
hindi      100
Name: nitish ke marks, dtype: int64

### Series Attributes

In [8]:
# size
marks_series.size

4

In [9]:
# dtype
marks_series.dtype

dtype('int64')

In [10]:
# name
marks_series.name

'nitish ke marks'

In [11]:
# is_unique
marks_series.is_unique

pd.Series([1,1,2,3,4,5]).is_unique

False

In [12]:
# index
marks_series.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [15]:
# values
marks_series.values

array([ 67,  57,  89, 100])

### Series using read_csv

In [18]:
#with one column 
pd.read_csv('C:\\Users\\Ganesh Raju Salunke\\Documents\\github\\files\\subs.csv')

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [ ]:
type(pd.read_csv('C:\\Users\\Ganesh Raju Salunke\\Documents\\github\\files\\subs.csv'))
#there are two types of data can be taken 1) Dataframe
#                                         2) Series
#this data is in dataframe
# Now we have to convert the dataframe to ---->>> series Data

pandas.core.frame.DataFrame

In [41]:
import pandas as pd

subs = pd.read_csv(
    r'C:\Users\Ganesh Raju Salunke\Documents\github\files\subs.csv'
).squeeze("columns")
s

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [32]:
# with 2 cols
vk = pd.read_csv(
    r'C:\Users\Ganesh Raju Salunke\Documents\github\files\kohli_ipl.csv',index_col='match_no').squeeze("columns")
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [85]:
movie = pd.read_csv(
    r'C:\Users\Ganesh Raju Salunke\Documents\github\files\bollywood.csv',index_col='movie').squeeze("columns")
series

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

### Series method

In [44]:
#head and tail
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [45]:
#manipulating head
subs.head(10) #first 10 head items

0    48
1    57
2    40
3    43
4    44
5    46
6    33
7    40
8    44
9    74
Name: Subscribers gained, dtype: int64

In [47]:
vk.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [48]:
#manipualating Tails
vk.tail(3)

match_no
213    73
214    25
215     7
Name: runs, dtype: int64

In [ ]:
#sample
movie.sample(3)
#will give sample data from movies dataset

movie
Heroes (2008 film)          Sohail Khan
A Flat (film)           Jimmy Sheirgill
The Xposé             Himesh Reshammiya
Name: lead, dtype: object

In [54]:
# value_counts -> movies
movie.value_counts()
#it will count all the values of the movies

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

In [55]:
# sort_values -> inplace
vk.sort_values(ascending=False).head(1).values[0]

np.int64(113)

In [56]:
vk.sort_values(ascending=False)

match_no
128    113
126    109
123    108
120    100
164    100
      ...
93       0
130      0
206      0
207      0
211      0
Name: runs, Length: 215, dtype: int64

In [66]:
# sort_index -> inplace -> movies
movie.sort_index(ascending= False,inplace=True)
#inplace is used to make permanent changes in the dataset
#.sort_index is used to sort dataset alphabetically

In [60]:
movie

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1500, dtype: object

In [61]:
movie.sort_values()

movie
Qaidi Band                            Aadar Jain
Roar: Tigers of the Sundarbans      Aadil Chahal
Lipstick Under My Burkha            Aahana Kumra
Raat Gayi Baat Gayi?                Aamir Bashir
Talaash: The Answer Lies Within       Aamir Khan
                                        ...
Dunno Y... Na Jaane Kyon             Zeenat Aman
Dil Toh Deewana Hai                  Zeenat Aman
Sallu Ki Shaadi                      Zeenat Aman
Strings of Passion                   Zeenat Aman
Taj Mahal: An Eternal Love Story     Zulfi Sayed
Name: lead, Length: 1500, dtype: object

### Series Maths Methods

In [68]:
# count
vk.count()
#count gives total number of items present in the series

np.int64(215)

In [70]:
# sum -> product
subs.sum()
#gives sum of all the values of the sum

np.int64(49510)

In [74]:
subs.product()

np.int64(0)

In [ ]:
# mean -> median -> mode -> std -> var
print(subs.mean()) #gives mean
print(vk.median()) # gives median 
print(movie.mode()) #gives highest mode or highest made movie
print(subs.std())
print(vk.var())

135.64383561643837
24.0
0    Akshay Kumar
Name: lead, dtype: object
62.6750230372527
688.0024777222343

In [76]:
# min/max
subs.max()

np.int64(396)

In [77]:
subs.min()

np.int64(33)

In [78]:
#describe
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

### Series Indexing

In [81]:
# integer indexing
# indexing means extracting a specific number needed from a given list or series
x = pd.Series([12,13,14,35,46,57,58,79,9])
x[1]

np.int64(13)

In [87]:
movie

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [90]:
movie[1]

C:\Users\Ganesh Raju Salunke\AppData\Local\Temp\ipykernel_400\101055391.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movie[1]

'Vicky Ahuja'

In [92]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [93]:
# slicing
vk[4:16]

match_no
5      1
6      9
7     34
8      0
9     21
10     3
11    10
12    38
13     3
14    11
15    50
16     2
Name: runs, dtype: int64

In [ ]:
#negative slicing
vk[-5:]
#last five digits

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [97]:
movie[::2]

movie
Uri: The Surgical Strike                   Vicky Kaushal
The Accidental Prime Minister (film)         Anupam Kher
Evening Shadows                         Mona Ambegaonkar
Fraud Saiyaan                               Arshad Warsi
Manikarnika: The Queen of Jhansi          Kangana Ranaut
                                              ...
Raaz (2002 film)                              Dino Morea
Waisa Bhi Hota Hai Part II                  Arshad Warsi
Kaante                                  Amitabh Bachchan
Aankhen (2002 film)                     Amitabh Bachchan
Company (film)                                Ajay Devgn
Name: lead, Length: 750, dtype: object

In [98]:
#fancy indexing
vk[[1,2,4,5,9]]

match_no
1     1
2    23
4    12
5     1
9    21
Name: runs, dtype: int64

In [100]:
# indexing with labels -> fancy indexing
movie['2 States (2014 film)']

'Arjun Kapoor'

### Editing Series

In [ ]:
marks_series

maths       67
english     57
science     89
hindi      100
Name: nitish ke marks, dtype: int64

In [102]:
#using indexing
marks_series[1]= 100

C:\Users\Ganesh Raju Salunke\AppData\Local\Temp\ipykernel_400\3941571493.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  marks_series[1]= 100

In [104]:
marks_series

maths       67
english    100
science     89
hindi      100
Name: nitish ke marks, dtype: int64

In [105]:
# what if an index does not exist
marks_series['evs'] = 100

In [107]:
marks_series

maths       67
english    100
science     89
hindi      100
evs        100
Name: nitish ke marks, dtype: int64

In [108]:
#slicing